th,td{
  padding: 20px;
  border: 1px solid whitesmoke;
  color: white;
}
.head{
  background: black;
  // background-image: linear-gradient(to right, #e37410, #c5a639, #b0c87d, #b6e0c0, #e3f0ed);
  /* background-image: linear-gradient(to left, #e37410, #c5a639, #b0c87d, #b6e0c0, #e3f0ed); */
}

table{
  margin-top: 10px;
  margin-left: 10px;
  background:   black;
  /* background-image: linear-gradient(to left top, #e17c20, #b09515, #7ea43e, #4aab6e, #0bac9a); */
}


