.shape{
  width: 400px;
  border: solid 1px black;
  padding: 20px;
  margin: 18px;
  background:   #3b3333;
}

.sub-entry {
  float: left;
}
.div1 {
  width: 350px;
  height: 150px;
  padding: 10px;
  border: 1px solid black;
}
